/* Variables */
/* Nested selectors */
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin: 0;
}

header {
  color: #63687e;
  background-color: #f8f9fe;
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 20px;
}
header .wrapper {
  padding: 0 40px;
}
header .wrapper h1 {
  font-size: 1.4rem;
  color: #5f616d;
  font-weight: 600;
  margin: 0;
}
header .wrapper .header-total {
  border-bottom: 2px solid #5f616d;
  padding-bottom: 1.5em;
}

.top-cards {
  margin-top: -50px;
}
.top-cards .wrapper {
  padding: 0 40px;
}
.top-cards .wrapper .grid {
  display: grid;
  grid-row-gap: 25px;
}

/* Card */
.card, .youtube-card, .instagram-card, .twitter-card {
  text-align: center;
  overflow: hidden;
  background-color: #f0f2fa;
  color: #63687e;
  border-radius: 6px;
  padding: 1em 0;
  position: relative;
}
.card:before, .youtube-card:before, .instagram-card:before, .twitter-card:before {
  content: "";
  height: 4px;
  display: block;
  background: #198ff5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card .card-title, .youtube-card .card-title, .instagram-card .card-title, .twitter-card .card-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-title img, .youtube-card .card-title img, .instagram-card .card-title img, .twitter-card .card-title img {
  margin-right: 6px;
}
.card .card-followers .card-followers-number, .youtube-card .card-followers .card-followers-number, .instagram-card .card-followers .card-followers-number, .twitter-card .card-followers .card-followers-number {
  font-size: 40px;
  font-weight: 600;
}
.card .card-followers .card-followers-title, .youtube-card .card-followers .card-followers-title, .instagram-card .card-followers .card-followers-title, .twitter-card .card-followers .card-followers-title {
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
}
.card .card-today, .youtube-card .card-today, .instagram-card .card-today, .twitter-card .card-today {
  color: #1db489;
  font-weight: bold;
}

.twitter-card:before {
  background: #1ca0f2;
}

.instagram-card:before {
  background: linear-gradient(to right, #fdc468 0%, #df4996 100%);
}

.youtube-card:before {
  background: #c4032a;
}

/* Small card */
.overview {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.2em;
}
.overview p {
  margin-left: 40px;
}
.overview .wrapper {
  padding: 0 40px;
}
.overview .wrapper .grid {
  display: grid;
  grid-row-gap: 12px;
}
.overview .wrapper .grid .card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f0f2fa;
  padding: 5px 25px;
  border-radius: 6px;
}
.overview .wrapper .grid .card-small .card-small-views {
  font-weight: bold;
  font-size: 0.9em;
  color: #63687e;
}
.overview .wrapper .grid .card-small .card-small-icon {
  text-align: end;
  border: 1px border red;
}
.overview .wrapper .grid .card-small .card-small-number {
  font-weight: 600;
  font-size: 2.5em;
  line-height: 0.9;
  margin: 0;
  color: #63687e;
}
.overview .wrapper .grid .card-small .card-small-percentage {
  text-align: end;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #dc414c;
}
.overview .wrapper .grid .card-small .card-small-percentage span {
  display: flex;
  align-items: center;
}
.overview .wrapper .grid .card-small .card-small-percentage img {
  margin-right: 3px;
}

@media only screen and (min-width: 550px) and (max-width: 1440px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
