/* variables*/
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook-color: hsl(208, 92%, 53%);
$twitter-color: hsl(203, 89%, 53%);
$youtube-color: hsl(348, 97%, 39%);
$card-background: hsl(227, 47%, 96%);
$text-color: hsl(228, 12%, 44%);

/* Nested selectors*/
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
}
header {
    color: $text-color;
    background-color: #f8f9fe;
    padding-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 20px;
    .wrapper {
        padding: 0 40px;
        h1 {
            font-size: 1.4rem;
            color: #5f616d;
            font-weight: 600;
            margin: 0;
        }
        .header-total {
            border-bottom: 2px solid #5f616d;
            padding-bottom: 1.5em;
        }
    } 
}

.top-cards {
    margin-top: -50px;
    .wrapper {
        padding: 0 40px;
        .grid {
            display: grid;
            grid-row-gap: 25px;
        }
    }
}

.card {
    text-align: center;
    overflow: hidden;
    background-color: $card-background;
    color: $text-color;
    border-radius: 6px;
    padding: 1em 0;
    position: relative;
    &:before {
        content: "";
        height: 4px;
        display: block;
        background: $facebook-color;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin-right: 6px;
        }
    }
    .card-followers {
        .card-followers-number {
            font-size: 40px;
            font-weight: 600;
        }
        .card-followers-title {
            letter-spacing: 2px;
            display: block;
            text-transform: uppercase;
        }
    }
    .card-today {
        color: $lime-green;
        font-weight: bold;
    }
}

.twitter-card {
    @extend .card;
    &:before {
        background: $twitter-color;
    }
}
.instagram-card {
    @extend .card;
    &:before {
        background: linear-gradient(to right, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
    }
}
.youtube-card {
    @extend .card;
    &:before {
        background: $youtube-color;
    }
}